.window {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  background-color: var(--background-dark);
}

header {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

header h1 {
  font-size: 58px;
  font-weight: 200;
  line-height: 75px;
  cursor: pointer;
}
header div {
  display: flex;
  flex-direction: row;
}
header button {
  height: 46px;
  width: 46px;
  border-radius: 10px;
  border: 1px solid var(--white);
  background: none;
  font-size: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 12.4px;
  color: var(--purple-lighter);
  padding-bottom: 6px;
}

header button:hover {
  background: #000000c4;
  color: var(--purple-dark);
}

header input {
  height: 46px;
  width: 247.56px;
  border-radius: 7px;
  margin: 16px 0;
  color: var(--white);
  background-color: var(--purple-dark);
  padding-left: 10px;

  border: 4px solid #000000;

  font-size: 30px;
  font-weight: 200;
  line-height: 36px;
  letter-spacing: 0em;
}

header input:hover {
  background: #5039ea;
}

hr:nth-of-type(1) {
  border: 0;
  clear: both;
  display: block;
  width: 91%;
  min-height: 3px;
  background: var(--purple-darkerst);
  margin-bottom: 20px;
}
hr:nth-of-type(2) {
  border: 0;
  clear: both;
  display: block;
  width: 91%;
  min-height: 3px;
  background: var(--purple-darkerst);
  margin-top: 20px;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 56px;
  margin: auto 0;
  
  height: 100%;
}

footer span {
  font-size: 26px;
  font-weight: 200;
  line-height: 36px;
}

footer span a {
  text-decoration: none;
  color: var(--green);
}

@media (max-width: 1450px) {
  .cards {
  grid-template-columns: 1fr 1fr 1fr;

  }
}

@media (max-width: 950px) {
  .cards {
  grid-template-columns: 1fr 1fr;

  }
}