.container {
  display: inline-flex;
  height: 100vh;
  align-items: center;
}

.group-1 {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;

  width: 120vh;
  height: 120vh;

  bottom: 40%;
  right: 4%;
}

.group-1 img {
  position: absolute;

  bottom: 25%;
  right: 9%;

  width: 34%;

  z-index: 2;
}

.group-1 .block-1 {
  position: absolute;

  background: var(--purple-light);
  width: 71.1%;
  height: 71.1%;
  transform: rotate(45deg);
  border-radius: 0 12px 12px 0;
  z-index: 1;
}

.group-1 .block-2 {
  position: absolute;
  background: var(--white);
  width: 71.1%;
  height: 71.1%;
  margin: auto;
  transform: rotate(45deg) translate(120px, 148px);
  border-radius: 0 12px 12px 0;
}

.bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 465px;
  height: 105px;
  background-color: var(--white);
  border-radius: 10px;
  z-index: 2;
}

.bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 180px;
  height: 50px;
  background: var(--purple-dark);
  font-size: 25px;
  font-weight: bold;
  color: var(--white);

  border-radius: 3px;
  box-shadow: 7px 6px 4px 0px #302bb5b3;

  transition: 0.2s ease-out;
  padding: auto;
}

.bar a:hover {
  background-color: var(--purple-light);
}

.bar a:active {
  box-shadow: none;
}

.group-2 {
  position: relative;

  width: 120vh;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%;

  left: 4%;
}

.container .group-2 img {
  position: absolute;

  top: 23%;
  left: 8%;

  width: 34%;

  z-index: 2;
}

.group-2 .block-1 {
  position: absolute;
  background: var(--purple-light);
  width: 71.1%;
  height: 71.1%;
  transform: rotate(45deg);
  border-radius: 12px 0 0 12px;
  z-index: 1;
}

.group-2 .block-2 {
  position: absolute;
  background: var(--white);
  width: 71.1%;
  height: 71.1%;
  margin: auto;
  transform: rotate(45deg) translate(-120px, -148px);

  border-radius: 12px 0 0 12px;
}

@media (max-width: 1324px) {
  .group-1 {
    bottom: 40%;
    right: -5%;
  }

  .group-2 {
    top: 40%;
    left: -5%;
  }
}
