.container {
  height: 536.95px;
  width: 564px;

  background: var(--white);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 76px;
  box-sizing: border-box;

}

.container button:first-child {
  align-self: flex-start;
  margin: 0 0 20px -45px;

  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  font-size: 64px;

  transition: .2s;
  line-height: 0;

}

.container button:first-child:hover {
  background: rgb(214, 214, 214);
  border-radius: 6px;

}

.container button:first-child:active {
  background-color: rgb(166, 166, 166);
}


.container input {
  box-sizing: border-box;
  height: 44px;
  width: 411.1692810058594px;
  margin-bottom: 86px;

  border-bottom: 3px solid var(--purple-dark);
  font-size: 48px;
  font-weight: 300;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
  background-color: var(--white);
  color: black;
  outline: none;

  transition: .2s;

}

.container input:hover {
  background: #00000018;
  border-radius: 4px;

  transition: .2s;

}

.container button:not(:first-child) {
  height: 75.00850677490234px;
  width: 168.97787475585938px;
  margin-bottom: 20px;

  
  border-radius: 0px;
  background: var(--purple-dark);

  font-size: 48px;
  font-weight: 300;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
  color: var(--white);

  box-shadow: 7px 6px 4px 0px #302bb5b3;

  transition: 0.2s ease-out;
}

.container button:not(:first-child):hover {
  background-color: var(--purple-light);

}

.container button:not(:first-child):active {
  box-shadow: none;

}

.container a {
  font-size: 28px;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--purple-dark);

}
