.window {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: var(--background-dark);
}

.container {
  height: 536.95px;
  width: 564px;
  box-sizing: border-box;
  background: var(--white);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 76px;
}

.container a:first-child {
  margin: 0 0 20px -45px;

  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  align-self: flex-start;
  background: none;
  font-size: 64px;
  transition: 0.2s;
  line-height: 0;
  text-decoration: none;
  color: black;
}

.container a:first-child:hover {
  background: rgb(214, 214, 214);
  border-radius: 6px;
}

.container a:first-child:active {
  background-color: rgb(166, 166, 166);
}

.container input {
  box-sizing: border-box;
  height: 44px;
  width: 411.16px;
  margin-bottom: 66px;
  border-bottom: 3px solid var(--purple-dark);

  padding-left: 10px;
  background: var(--white);
  color: var(--black);
  outline: none;

  font-size: 48px;
  font-weight: 300;

  transition: 0.2s;
}

.container input:hover {
  background: #00000018;
  border-radius: 4px;

  transition: 0.2s;
}

.container button {
  height: 75px;
  width: 220.54px;

  border-radius: 0px;
  background: var(--purple-dark);

  font-size: 48px;
  font-weight: 300;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
  color: var(--white);

  border-radius: 3px;
  box-shadow: 7px 6px 4px 0px #302bb5b3;

  transition: 0.2s ease-out;
  /* transition-timing-function: linear; */
}

.container button:hover {
  background-color: var(--purple-light);
}

.container button:active {
  box-shadow: none;
}
