* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Inter;
  transition: 0.2s ease-out;
  outline: none;
}

#root {
  color: var(--white);
  width: 100%;
  height: 100vh;
  /* overflow-x: hidden; */
}

button {
  cursor: pointer;

}

:root {
  --black: #000000;
  --white: #eaeaea;

  --background-dark: #0d0d0d;

  --purple-lighter: #7d79f2;
  --purple-light: #5550f2;
  --purple: #4843e7;
  --purple-dark: #4429f2;
  --purple-darkerst: #302bb5;

  --green: #00ff75;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.443);
}